.side-bar                                     
 .side-bar__header                            
  .side-bar__header__list                     
   .side-bar__header__list__username          
    %p masa
   .side-bar__header__list__icon
    %a{:href => "/#"}
    %i.fa.fa-edit
    %a{:href => "/#"}
    %i.fa.fa-cog
    
       
 .side-bar__main                             
  .side-bar__main__groupname                 
   %p techcamp
  .side-bar__main__comment 
   %p まだメッセージがありません
  .side-bar__main__groupname                 
   %p techcamp
  .side-bar__main__comment 
   %p まだメッセージがありません

